@inject HttpClient Http

@if (ActorNames != null && ActorNames.Length > 0)
{
<div class="navbar-item has-dropdown is-hoverable ">
    <a class="navbar-link">
        Login as
    </a>

    <div class="navbar-dropdown is-right">
        @foreach (string name in ActorNames)
        {
            <a class="navbar-item @IsActive(name)" @onclick="_ => ChangePrincipal(name)">
                @name
            </a>
        }
        
    </div>

</div>
<a class="navbar-item">
    @TempFakeAuth.Current.Name
</a> 
}
